/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1400)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [TestDb]
GO
/****** Object:  Table [dbo].[DeadCounty]    Script Date: 1/9/2018 10:42:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeadCounty](
	[Id] [varchar](4) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_DeadCounty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DeadCounty] ([Id], [Name]) VALUES (N'0101', N'臺北市松山區')
INSERT [dbo].[DeadCounty] ([Id], [Name]) VALUES (N'0102', N'臺北市大安區')
INSERT [dbo].[DeadCounty] ([Id], [Name]) VALUES (N'0109', N'臺北市大同區')
GO
